@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

body {
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: Poppins, sans-serif;
    display: flex;

    margin: 0px 0px 0px 0px;
}

body::-webkit-scrollbar {
    display: none
}

/* POPUP */

#start-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.795);

    height: 600px;
    width: 1000px;
    
    left: 50%;
    top: 50%; 

    transform: translate(-50%, -50%);

    align-items: center;
    border-radius: 50px;
    transition: 0.5s all ease-in-out;
}

#start-popup:hover {
    background-color: white;
}

#close-popup {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;

    border-radius: 20px;
    transition: 0.5s all ease-in-out;
}

#close-popup:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* ------------------------------------------ */

/* INTERFEJS */

#interface {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: 1px 0px 10px rgb(3, 3, 3);

    justify-content: center;
    align-items: center;
    text-align: center;

    height: 500px;
    width: 300px;

    left: 85%;
    top: 25%;

    border-radius: 50px;

    transition: 0.5s all ease-in-out;
}

#interface:hover {
    background-color: white;
    transform: scale(1.007);
}

.interface-position {
    margin-bottom: 20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scoreboard {
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background-color: white;

    width: 100px;
    height: 60px;

    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);

    border-radius: 0px 0px 10px 10px;

}

#timer {
    font-weight: bold;
}

#score {
    font-weight: bold;
}

#generate-button {
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;

    border-radius: 20px;
    transition: 0.5s all ease-in-out;
}

#generate-button:hover {
    transform: scale(1.02);
}


/* ------------------------------------------ */

/* MAPA */

#map { 
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* ------------------------------------------ */

/* CONGRATULATIONS STYLES */
#win-background {
    display: flex;
    position: absolute;
    z-index: 999;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}

#win-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background-color: white;
    
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 300px;
    left: 50%;
    top: 50%; 

    transform: translate(-50%, -50%);
    border-radius: 50px;
    gap: 10px;
}

#medal-logo {
    top: 20px;
    width: 135px;
    height: 200px;

    transition: 0.7s all ease-in-out;
}

#medal-logo:hover {
    transform: rotate(360deg);
}

#win-main-text {
    display: flex;
    flex-direction: column;
    height: 25%;
}

#win-stats {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 50%;
}

#your-time {
    font-size: 30px;
    font-weight: bold;

    transition: 0.5s all ease-in-out;
}

#your-time:hover {
    color: orange;
}

#congratulations-text {
    font-size: 40px;
    font-weight: bold;

    transition: 0.5s all ease-in-out;
}

#congratulations-text:hover {
    color: orange;
}

#ending-button {
    position: flex;
    top: 100%;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    border: none;

    border-radius: 0px 0px 50px 50px;
    transition: 0.5s all ease-in-out;
}

#ending-button:hover {
    cursor: pointer;
}